@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Roboto:wght@500&display=swap');

.HomePage{
    background-color: gainsboro;
    font-family: Gilroy-Regular;
    min-height: 2200px;
    color: rgb(16, 16, 43);
}

.page{
    max-width: 80%;
    margin-inline: auto;
}


.heading{
    height: 500px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headerBackground{
    background-color: rgb(177, 170, 170);
    position: absolute;
    width: 100%;
    height: 500px;
}

.titleAndLogo{
    display: flex;
}

.titleAndLogo > .logo{
    border: 2px solid rgb(14, 14, 32);
    padding: 20px;
    border-radius: 50%;
    margin-right: 30px;
}

.titleAndLogo > .logo img{
    width: 50px;
}

.titleAndLogo p {
    font-size: xx-large;
    align-self: center;
    font-weight: 600;
}

.appAccess .button{
    border: 2px solid rgb(14, 14, 32);
    padding: 10px;
    border-radius: 20px;
    margin-left: 15px;
}

.appAccess .button:hover{
    color: whitesmoke;
    background-color: rgb(16, 16, 43);
    cursor: pointer;
}

.item {
    margin: 100px 0;
    display: flex;
    flex-direction: row;
}

.item .subItem h1 {
    font-size: 80px;
    font-weight: 600;
}

.item .subItem p {
    font-size: 30px;
    padding-left: 20px;
}
.item > img {
    max-width: 1000px;
    max-height: 400px;
    margin-left: 300px;
    border-top-left-radius: 40px;
}


.item1{
    margin: 100px 0;
    display: flex;
    flex-direction: row-reverse;
}

.item1 .subItem h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 600;
}

.item1 .subItem p {
    font-size: 30px;
    padding-left: 20px;
}
.item1 > img {
    max-width: 1000px;
    max-height: 400px;
    margin-left: 100px;
    margin-right: 50px;
    border-bottom-left-radius: 40px;
}

